@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Sofia+Sans+Semi+Condensed&display=swap');

.header {
  align-items: center;
  background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  display: flex;
  color: #000;
  padding: 20px;
  gap: 30px;
  font-family: 'Gafata', sans-serif;
  justify-content: space-between;
}

.header--links {
  color: #000;
  text-decoration: none;
}

.header--links:visited {
  color: #000;
  text-decoration: none;
}

.header--links:hover {
  color: #000;
  text-decoration: underline;
}

.header__home-link {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__home-link img {
  height: 100%;
  width: 36px;
  filter: invert(100%) sepia(100%) saturate(19%) hue-rotate(255deg) brightness(103%) contrast(106%);
}

.header__logo {
  font-size: 24px;
}