@import url('https://fonts.googleapis.com/css2?family=Gafata&family=Sofia+Sans+Semi+Condensed&display=swap');

.menu {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Gafata', sans-serif;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  flex-direction: row;
}

.menu__list-user {
  display: flex;
}

.menu__item {
  list-style: none;
}

.menu__link {
  color: #000;
  font-family: sans-serif;
  margin-right: 1rem;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu--button {
  background-color: white; /* Green */
  border: none;
  border-radius: 12px;
  color: black;
  text-align: center;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.menu--button:hover {
  text-decoration: underline;
}